<a href="https://colab.research.google.com/github/bautista-mark-julian/CPE009A-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Boolean
print(bool("Hello World"))
print(bool(15))
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

True
True

False

In [17]:
#bool() function
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))

True
False
True
False

In [18]:
#Can execute code based on the Boolean answer of a function
def myFunction():
 return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [20]:
#Functions can return a boolean
def myFunction():
  return True
print(myFunction())

True

In [23]:
#Try
print (10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

In [29]:
#Python Operators
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

In [43]:
#Python Bitwise Operators
a=60 #0011 1100
b=13 #0000 1101
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(~b)
print(a<<1)
print(b<<1)
print(a>>1)
print(b>>1)

12
61
49
-61
-14
120
26
30
6

In [50]:
#Python Assignment Operators
x=2
x+=3 #same as x=x+3
x-=3 #same as x=x-3
x*=3 #same as x=x*3
x/=3 #same as x=x/3
x%=3 #same as x=x%3
print(x)

2.0

In [64]:
#Comparison Operators
y= 60
z=13
print(y>z)
print(z>y)
#Logical Operators
print(y>z and z>y)
print(y>z and z<y)
print(y>z or z<y)
print(y>z or z>y)
print(not(y>z and z>y))
print(not(y>z and z<y))

True
False
False
True
True
True
True
False

In [66]:
#Identity Operators
print(y is z)
print(y is not z)

False
True

In [69]:
#Loop Statement
#FOR Loop
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday" ]
for x in week:
 print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [72]:
#FOR Loop Break Statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday" ]
for x in week:
 print(x)

 if x=="Thursday":
  break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [74]:
#FOR Loop Looping through a string
for x in "week":
  print(x)

w
e
e
k

In [78]:
#Try
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday" ]
for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

In [83]:
#Range Function
for x in range(6):
  print(x)
  print(" ")
for x in range(2,6):
  print(x)

0

1

2

3

4

5

2
3
4
5

In [88]:
#Nested Loop
adjective=["red","big","tasty"]
fruits=["apple", "banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [90]:
#While Loop
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [116]:
#While Loop Continue statement
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

In [118]:
#While loop BReak Statement
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [119]:
#while loop else statement
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6